{
  "name": "{{title}}",
  "short_name": "{{name}}",
  "description": "{{desc}}",
  "icons": [
    {
      "src": "icons/icon36.png",
      "sizes": "36x36",
      "type": "image/png"
    },
    {
      "src": "icons/icon48.png",
      "sizes": "48x48",
      "type": "image/png"
    },
    {
      "src": "icons/icon72.png",
      "sizes": "72x72",
      "type": "image/png"
    },
    {
      "src": "icons/icon96.png",
      "sizes": "96x96",
      "type": "image/png"
    },
    {
      "src": "icons/icon144.png",
      "sizes": "144x144",
      "type": "image/png"
    },
    {
      "src": "icons/icon192.png",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "icons/icon256.png",
      "sizes": "256x256",
      "type": "image/png"
    },
    {
      "src": "icons/icon512.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "start_url": "{{pwa_url}}/index.html",
  "display": "fullscreen",
  "theme_color": "#B12A34",
  "background_color": "#222222",
  "related_applications": [
    {
      "platform": "play",
      "url": "https://play.google.com/store/apps/details?id=com.eliasku.odd_color_sense_vision_test_challenge",
      "id": "com.eliasku.odd_color_sense_vision_test_challenge"
    },
    {
      "platform": "itunes",
      "url": "https://itunes.apple.com/us/app/id1435111697"
    }
  ]
}